APP_HOST=0.0.0.0
APP_PORT=3000
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=logarys
NATS_URL=nats://localhost:4222
QUERY_ADAPTERS_DIR=/var/lib/logarys/query-adapters
QUERY_ADAPTER_ALLOWED_GIT_PREFIXES=https://github.com/logarys/,https://gitlab.com/logarys/
